<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DBD6C5E-3682-44E7-B64B-34C5F525C1EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B7125D25-229D-4CC1-9604-EC9ED8EB17C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8543E09-6484-4BA8-9E0E-884C6B2D63DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CEEC26B0-833A-43DC-9CEA-8A88C62713EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D436BB7A-40F4-4C85-81D1-D6F9101E84A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D01B7AF-E0A4-439C-AF46-CFB4DEEC3F1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E6BB57C1-89F2-47BF-8B99-0799735923C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B26721C-9055-4044-9B5E-E7C3A46E0541</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>James Sulak</string>
	<key>description</key>
	<string>Operate on programming notebook</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Programming Notebook</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CEEC26B0-833A-43DC-9CEA-8A88C62713EB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>python update_entry.py | xargs open -a /Applications/nvALT.app </string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>python update_entry.py --tag "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0DBD6C5E-3682-44E7-B64B-34C5F525C1EB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tag</string>
				<key>subtext</key>
				<string>Add tag to today's entry</string>
				<key>text</key>
				<string>Programming Notebook</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>log</string>
				<key>subtext</key>
				<string>Add entry to log</string>
				<key>text</key>
				<string>Programming notebook</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D436BB7A-40F4-4C85-81D1-D6F9101E84A0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python update_entry.py --log "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D01B7AF-E0A4-439C-AF46-CFB4DEEC3F1A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>38</integer>
				<key>script</key>
				<string>python update_entry.py --task "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8543E09-6484-4BA8-9E0E-884C6B2D63DD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>task</string>
				<key>subtext</key>
				<string>Add task</string>
				<key>text</key>
				<string>Programming notebook</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B7125D25-229D-4CC1-9604-EC9ED8EB17C9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>pn</string>
				<key>scopes</key>
				<array>
					<string>~/Dropbox/programming_notebook</string>
				</array>
				<key>title</key>
				<string>Programming Notebook</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>E6BB57C1-89F2-47BF-8B99-0799735923C7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/FoldingText.app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>1B26721C-9055-4044-9B5E-E7C3A46E0541</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0DBD6C5E-3682-44E7-B64B-34C5F525C1EB</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>1B26721C-9055-4044-9B5E-E7C3A46E0541</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>1D01B7AF-E0A4-439C-AF46-CFB4DEEC3F1A</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>B7125D25-229D-4CC1-9604-EC9ED8EB17C9</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>CEEC26B0-833A-43DC-9CEA-8A88C62713EB</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>D436BB7A-40F4-4C85-81D1-D6F9101E84A0</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>D8543E09-6484-4BA8-9E0E-884C6B2D63DD</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>E6BB57C1-89F2-47BF-8B99-0799735923C7</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.jamessulak.com</string>
</dict>
</plist>
